:root {
  --color-base-background: #FFF;
  --color-base-background-lighter: #f4f5f7;
  --color-base-text: #000;
	--color-base-text-lighter: #4e586b;
	--color-base-link-text:#0055ff;
	--color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #000;
  --color-primary-text: #FFF;
}
